html, body, .container-fluid, .container-fluid>.row{
    height: 100%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: lightgray;
    width: 100%;
    text-align: center;
}
