<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout" >
<th:block layout:fragment="content">
<!--    <style>-->
<!--        body {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            justify-content: center;-->
<!--            height: 100vh;-->
<!--            margin: 0;-->
<!--        }-->
<!--    </style>-->
    <body>
    <div class="container text-center mt-5">
        <div class="btn-container mt-4">
            <button class="btn btn-primary btn-lg me-2" onclick="location.href='./member/login'">관리자</button>
            <button class="btn btn-secondary btn-lg" onclick="location.href='./board/write'">고객</button>
        </div>
    </div>
    </body>
</th:block>
</html>